@import './base.css';

#app {
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
